<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.zm.mapper.DevStatusAcMapper">

    <resultMap type="com.ruoyi.zm.domain.DevStatusAc" id="DevStatusAcResult">
        <result property="id" column="id"/>
        <result property="deviceId" column="device_id"/>
        <result property="circuitNum" column="circuit_num"/>
        <result property="uab" column="uab"/>
        <result property="ubc" column="ubc"/>
        <result property="uac" column="uac"/>
        <result property="ia" column="ia"/>
        <result property="ib" column="ib"/>
        <result property="ic" column="ic"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
